<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uporanges.mapper.student.t_studentMapper" >
  <resultMap id="BaseResultMap" type="com.uporanges.entity.t_student" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="stu_email" property="stuEmail" jdbcType="VARCHAR" />
    <result column="stu_createdtime" property="stuCreatedtime" jdbcType="TIMESTAMP" />
    <result column="stu_realname" property="stuRealname" jdbcType="VARCHAR" />
    <result column="stu_status" property="stuStatus" jdbcType="INTEGER" />
    <result column="stu_headPic" property="stuHeadpic" jdbcType="VARCHAR" />
    <result column="stu_qq" property="stuQq" jdbcType="VARCHAR" />
    <result column="stu_school" property="stuSchool" jdbcType="VARCHAR" />
    <result column="stu_major" property="stuMajor" jdbcType="VARCHAR" />
    <result column="stu_graduationtime" property="stuGraduationtime" jdbcType="TIMESTAMP" />
    <result column="stu_sex" property="stuSex" jdbcType="INTEGER" />
    <result column="stu_age" property="stuAge" jdbcType="INTEGER" />
    <result column="stu_address" property="stuAddress" jdbcType="VARCHAR" />
    <result column="is_mobile_check" property="isMobileCheck" jdbcType="INTEGER" />
    <result column="stu_target_job" property="stuTargetJob" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, stu_email, stu_createdtime, stu_realname, stu_status, stu_headPic, stu_qq, 
    stu_school, stu_major, stu_graduationtime, stu_sex, stu_age, stu_address, is_mobile_check, 
    stu_target_job, last_login_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_student
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_student
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uporanges.entity.t_student" >
    insert into t_student (user_id, stu_email, stu_createdtime, 
      stu_realname, stu_status, stu_headPic, 
      stu_qq, stu_school, stu_major, 
      stu_graduationtime, stu_sex, stu_age, 
      stu_address, is_mobile_check, stu_target_job, 
      last_login_time)
    values (#{userId,jdbcType=INTEGER}, #{stuEmail,jdbcType=VARCHAR}, #{stuCreatedtime,jdbcType=TIMESTAMP}, 
      #{stuRealname,jdbcType=VARCHAR}, #{stuStatus,jdbcType=INTEGER}, #{stuHeadpic,jdbcType=VARCHAR}, 
      #{stuQq,jdbcType=VARCHAR}, #{stuSchool,jdbcType=VARCHAR}, #{stuMajor,jdbcType=VARCHAR}, 
      #{stuGraduationtime,jdbcType=TIMESTAMP}, #{stuSex,jdbcType=INTEGER}, #{stuAge,jdbcType=INTEGER}, 
      #{stuAddress,jdbcType=VARCHAR}, #{isMobileCheck,jdbcType=INTEGER}, #{stuTargetJob,jdbcType=VARCHAR}, 
      #{lastLoginTime,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectall" resultMap="BaseResultMap" resultType="com.uporanges.entity.t_student">
  select * from t_student;
  </select>
  <insert id="insertSelective" parameterType="com.uporanges.entity.t_student" >
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="stuEmail != null" >
        stu_email,
      </if>
      <if test="stuCreatedtime != null" >
        stu_createdtime,
      </if>
      <if test="stuRealname != null" >
        stu_realname,
      </if>
      <if test="stuStatus != null" >
        stu_status,
      </if>
      <if test="stuHeadpic != null" >
        stu_headPic,
      </if>
      <if test="stuQq != null" >
        stu_qq,
      </if>
      <if test="stuSchool != null" >
        stu_school,
      </if>
      <if test="stuMajor != null" >
        stu_major,
      </if>
      <if test="stuGraduationtime != null" >
        stu_graduationtime,
      </if>
      <if test="stuSex != null" >
        stu_sex,
      </if>
      <if test="stuAge != null" >
        stu_age,
      </if>
      <if test="stuAddress != null" >
        stu_address,
      </if>
      <if test="isMobileCheck != null" >
        is_mobile_check,
      </if>
      <if test="stuTargetJob != null" >
        stu_target_job,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="stuEmail != null" >
        #{stuEmail,jdbcType=VARCHAR},
      </if>
      <if test="stuCreatedtime != null" >
        #{stuCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="stuRealname != null" >
        #{stuRealname,jdbcType=VARCHAR},
      </if>
      <if test="stuStatus != null" >
        #{stuStatus,jdbcType=INTEGER},
      </if>
      <if test="stuHeadpic != null" >
        #{stuHeadpic,jdbcType=VARCHAR},
      </if>
      <if test="stuQq != null" >
        #{stuQq,jdbcType=VARCHAR},
      </if>
      <if test="stuSchool != null" >
        #{stuSchool,jdbcType=VARCHAR},
      </if>
      <if test="stuMajor != null" >
        #{stuMajor,jdbcType=VARCHAR},
      </if>
      <if test="stuGraduationtime != null" >
        #{stuGraduationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="stuSex != null" >
        #{stuSex,jdbcType=INTEGER},
      </if>
      <if test="stuAge != null" >
        #{stuAge,jdbcType=INTEGER},
      </if>
      <if test="stuAddress != null" >
        #{stuAddress,jdbcType=VARCHAR},
      </if>
      <if test="isMobileCheck != null" >
        #{isMobileCheck,jdbcType=INTEGER},
      </if>
      <if test="stuTargetJob != null" >
        #{stuTargetJob,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uporanges.entity.t_student" >
    update t_student
    <set >
      <if test="stuEmail != null" >
        stu_email = #{stuEmail,jdbcType=VARCHAR},
      </if>
      <if test="stuCreatedtime != null" >
        stu_createdtime = #{stuCreatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="stuRealname != null" >
        stu_realname = #{stuRealname,jdbcType=VARCHAR},
      </if>
      <if test="stuStatus != null" >
        stu_status = #{stuStatus,jdbcType=INTEGER},
      </if>
      <if test="stuHeadpic != null" >
        stu_headPic = #{stuHeadpic,jdbcType=VARCHAR},
      </if>
      <if test="stuQq != null" >
        stu_qq = #{stuQq,jdbcType=VARCHAR},
      </if>
      <if test="stuSchool != null" >
        stu_school = #{stuSchool,jdbcType=VARCHAR},
      </if>
      <if test="stuMajor != null" >
        stu_major = #{stuMajor,jdbcType=VARCHAR},
      </if>
      <if test="stuGraduationtime != null" >
        stu_graduationtime = #{stuGraduationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="stuSex != null" >
        stu_sex = #{stuSex,jdbcType=INTEGER},
      </if>
      <if test="stuAge != null" >
        stu_age = #{stuAge,jdbcType=INTEGER},
      </if>
      <if test="stuAddress != null" >
        stu_address = #{stuAddress,jdbcType=VARCHAR},
      </if>
      <if test="isMobileCheck != null" >
        is_mobile_check = #{isMobileCheck,jdbcType=INTEGER},
      </if>
      <if test="stuTargetJob != null" >
        stu_target_job = #{stuTargetJob,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uporanges.entity.t_student" >
    update t_student
    set stu_email = #{stuEmail,jdbcType=VARCHAR},
      stu_createdtime = #{stuCreatedtime,jdbcType=TIMESTAMP},
      stu_realname = #{stuRealname,jdbcType=VARCHAR},
      stu_status = #{stuStatus,jdbcType=INTEGER},
      stu_headPic = #{stuHeadpic,jdbcType=VARCHAR},
      stu_qq = #{stuQq,jdbcType=VARCHAR},
      stu_school = #{stuSchool,jdbcType=VARCHAR},
      stu_major = #{stuMajor,jdbcType=VARCHAR},
      stu_graduationtime = #{stuGraduationtime,jdbcType=TIMESTAMP},
      stu_sex = #{stuSex,jdbcType=INTEGER},
      stu_age = #{stuAge,jdbcType=INTEGER},
      stu_address = #{stuAddress,jdbcType=VARCHAR},
      is_mobile_check = #{isMobileCheck,jdbcType=INTEGER},
      stu_target_job = #{stuTargetJob,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>